<div class="container">
  <div class="row form-img">
    <div class="offset-md-3 col-md-6">
      <div class="message-header">
        <h4 class="text-center"> Mande sua mensagem </h4>
      </div>
        <%= render 'form' %>
    </div>
  </div>
</div>
