  <div class="banner-text-background">
  <h1 class="banner-title">College Sports Authority</h1>
  <h5>Consultoria especializada em faculdades americanas para atletas</h5>
  <p><%= link_to "Entre em contato", new_contact_form_path, class: 'btn btn-warning' %></p>
</div>
