<div class="navbar navbar-default navbar-expand-sm navbar-dark navbar-static-top">
  <div class="container-fluid">
    <%= link_to image_tag("image005.png"), root_path, class: 'navbar-brand logo-img' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
       <% if !current_page?(:controller => 'contact_forms', :action => 'new') %>
        <span class="nav-item active sobre-link">
          <a href="#sobre">
            Quem somos
          </a>
        </span>
       <% end %>
        <span class="nav-item active">
          <div class="nav-link"> <i class="fa fa-whatsapp"></i> (11)-976562289</div>
        </span>
        <span class="nav-item active">
          <a href="https://www.facebook.com/daquipraforaesportes/" class="nav-link"> <i class="fa fa-facebook"></i></a>
        </span>
        <span class="nav-item active">
          <a href="https://www.instagram.com/daquipraforatenis/" class="nav-link"> <i class="fa fa-instagram"></i></a>
        </span>
        <span class="nav-item">
          <a class="nav-link text-center" href="mailto:gustavo@csauthority.com.br?subject=Contato" "email me"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>


