<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container nav-content">
      <div class="nav-csa-name">
        <a class="navbar-brand" href="#">CSAuthority</a>
      </div>
      <div class="nav-media-links">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <i class="fa fa-whatsapp"></i> 11-99999999 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-facebook-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  </nav>
</header>
