<div class="navbar navbar-default navbar-expand-sm navbar-dark navbar-static-top">
  <div class="container-fluid">
    <%= link_to image_tag("logo.jpg"), root_path, class: 'navbar-brand logo-img' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <span class="nav-item active">
          <div class="nav-link tel-class"> <i class="fa fa-whatsapp"></i> 11-994764023</div>
        </span>
        <span class="nav-item">
          <a class="nav-link text-center" href="mailto:gustavo@csauthority.com.br?subject=Contato" "email me"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>


