
<div class="fix-nav">
  <div class="img-wrap">
    <%= image_tag("CSA.png", class: "desktop-img")  %>
  </div>
  <%# <ul class="social-links">
      <li class="media-links">
        <a href="https://www.facebook.com/daquipraforaesportes/" class="nav-link"> <i class="fa fa-facebook"></i></a>
      </li>
      <li class="media-links">
        <a href="https://www.instagram.com/daquipraforatenis/" class="nav-link"> <i class="fa fa-instagram"></i></a>
      </li>
      <li class="media-links">
        <a class="nav-link text-center" href="mailto:gustavo@csauthority.com.br?subject=Contato" "email me"><i class="fa fa-envelope"></i></a>
      </li>
  </ul> %>
</div>

