  <div class="volei geral">
    <div class="main-text">
      <h1>College Sports Authority</h1>
      <p> A <strong>College Sports Authority</strong> é uma consultoria especializada em assessorar estudantes-atletas para os
      processos seletivos de universidades dos Estados Unidos, e os acompanha durante suas trajetórias universitárias, oferecendo suporte
      e criando oportunidades de desenvolvimento pessoal e profissional. </p>
      <p><%= link_to "Entre em contato", new_contact_form_path, class: 'btn btn-warning' %></p>
    </div>
  </div>
  <div class="tenis">
    <h1>Caminho para a faculdade</h1>
    <p>Orientação para que o estudante desenvola suas habilidades e apresentação, a fim de se tornar o melhor candidato para avaliação
    das universidades escolhidas, maximizando suas chances de ser aceito. Suporte durante o processo de admissão, como: identificação de pré-requisitos
    e prazos, planejamento de envio de documentos, conferência e envio dos pacotes de candidatura. Acompanhamento durante os quatro anos de faculdade com
    orientações para situações do dia a dia e suporte à adaptação intercultural</p>
  </div>
  <div class="sele_orient">
    <div>
      <p> <i>das opções de universidades</i></p>
      <p> mais adequadas ao perfil do atleta, buscando oportunidades de bolsas de estudos</p>
    </div>
    <div>
      <p> <i>para que o atleta se prepare</i></p>
      <p> adequadamente para ser apresentado aos treinadores das universidades selecionadas</p>
    </div>
  </div>
  <div class="golf">
    <h1>O valor da bolsa dependerá de alguns fatores:</h1>
    <ul>
      <li>Desempenho esportivo</li>
      <li>Nota nos exames de admissão (TOEFL/SAT)</li>
      <li>Histórico escolar</li>
      <li>Disponibilidade financeira da família</li>
    </ul>

  </div>
  <div class="nata_onde">
      <h1>Vantagens de fazer faculdade nos EUA:</h1>
    <ul>
      <li>Líder de sistema de ensino, com universidades conhecidas em nível mundial.</li>
      <li>Universidades com os melhores recursos para desenvolver seu talento. </li>
      <li>Maior facilidade de acesso ao mercado de trabalho, graças ao prestídio </li>
      das universidades e à experiência internacional.
      <li>Bolsas por meio da prática de esportes.</li>
      <li>Experiência única no país mais aberto e desenvolvido do mundo.</li>
      <li>Domínio do inglês, o idioma mais importante do mundo.</li>

    </ul>
  </div>
  <div class="map">
    
  </div>
  <div class="parceiros_map">
    
  </div>
   <ul class="social-links">
      <li class="media-links">
        <a href="https://www.facebook.com/daquipraforaesportes/" class="nav-link"> <i class="fa fa-facebook"></i></a>
      </li>
      <li class="media-links">
        <a href="https://www.instagram.com/daquipraforatenis/" class="nav-link"> <i class="fa fa-instagram"></i></a>
      </li>
      <li class="media-links">
        <a class="nav-link text-center" href="mailto:gustavo@csauthority.com.br?subject=Contato" "email me"><i class="fa fa-envelope"></i></a>
      </li>
  </ul>


