h1.banner-title {
  font-weight: bold;
  text-shadow: 1px 1px #fff; 
  font-family: 'Slabo 27px', serif;
}

.banner-text-background {
  position: relative;
  bottom: 2rem;
  left: 0rem;
}

.banner-text-background > h3 {
  text-shadow: 1px 1px #000; 
  font-family: 'Slabo 27px', serif;
  font-size: 1.45rem;
}

