h1.banner-title {
  font-weight: bold;
  text-shadow: 1px 1px #fff; 
  font-family: 'Slabo 27px', serif;
}

.banner-text-background {
  position: relative;
  bottom: 2rem;
  left: 0rem;
}

.banner-text-background > h3 {
  text-shadow: 1px 2px #000; 
  font-family: 'Slabo 27px', serif, 'Lato';
  font-size: 1.55rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.tenis {
  background-image: url(Tenis1.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  width: 100%;
  height: 0;
  padding-top: 127%;
  margin-bottom: -18%;
}

.parceiros_map {
  background-image: url(Map1.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  width: 100%;
  height: 0;
  padding-top: 250%;
}

.volei {
 background-image: url(Volei1.jpg);
 background-repeat:no-repeat;
 background-size:contain;
 width: 100%;
 height: 0;
 padding-top:  102.5%;
}

.nata_onde {
  background-image: url(Nat1.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  width: 100%;
  height: 0;
  padding-top: 128%;
  margin-bottom: -38%;
}

.onde {
  background-image: url(Onde.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  width: 100%;
  height: 0;
  padding-top: 128%;
  margin-bottom: -26%;
}

.sele_orient {
  background-image: url(Selec.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  width: 100%;
  height: 0;
  padding-top: 96%;
  margin-bottom: -3%;
}

.vant {
  background-image: url(Vant.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  width: 100%;
  height: 0;
  padding-top: 120%;
  margin-bottom: -45%;
}

.golf {
  background-image: url(Golf1.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  width: 100%;
  height: 0;
  padding-top: 120%;
  margin-bottom: -39%;
}