.section-divider {
  margin-top: -35px;
  margin-bottom: 35px;
}

.map-img {
  height: 380px;
  width: 100%;
}

body {
  background-color: rgba(120, 120, 120, 0.1);
}

.college-news {
  padding: 15px;
}

.card {
  padding: 12px;
}

