.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: rgba(0, 0, 5, 0.95);
}

.nav-link i {
  color: white;
  &:hover {
    font-weight: bold;
  }
}

ul.navbar-nav.mr-auto {
  text-align: right;
}

.logo-img img {
  height: 40px;
}

.tel-class {
  font-family: serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.ml-auto {
  align-items: center;
}