.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: #328acc;
  height: 75px;
}

.nav-link i {
  color: white;
  &:hover {
    font-weight: bold;
  }
}

ul.navbar-nav.mr-auto {
  text-align: right;
}
