.parceiros-img {
    margin: 15px;
    padding: 12px;
    max-height: 80px;
    border-radius: 3px;
}

.parceiros-img-center {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
    

.route {
    min-height: 175px;
}

.solinco {
    min-height: 100px;
}